@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 194, 254);
  height: 300px;
  margin: 10rem;

}