.container{
    border: 1px solid black;
    background-color: yellow;
    height: 700px;
    width: 504px;

    display: grid;

    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;

    gap: 4px;

    grid-template-areas: 
    "hd hd"
    "side main"
    "ft ft";
}
.box{
    border: 1px solid black;
    background-color: aqua;
}
#Header{
    grid-area: hd;
}
#Footer{
    grid-area: ft;
}
#Sidebar{
    grid-area: side;
}
#Content{
    grid-area: main;
}

@media(max-width:500px){
    .container{
        grid-template-rows: 30px 1fr 1fr 30px;
        grid-template-columns: 100px;
    
        gap: 2px;
    
        grid-template-areas: 
        "hd"
        "side"
        "main"
        "ft ft"; 
    }
}